! special
*.foreground:   #c5c8c6
*.background:   #1e2731
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6


! === URxvt ===

! Extensions
URxvt*perl-ext-common:          default,matcher,vtwheel,clipboard
! Looks
!URxvt*font:                     xft:FiraCode Nerd Font Mono:size=12
/* URxvt*font:                     xft:agave Nerd Font Mono:style=SemiBold:size=14 */
URxvt*font:                     xft:Consolas NF:size=13
URxvt*scrollBar:                false
URxvt.internalBorder:           10
! Clickable urls
URxvt.url-select.underline:     true
URxvt.url-launcher:             /usr/bin/firefox
URxvt.matcher.button:           1
! Change keybinding for copy/paste
URxvt*iso14755:                 false
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste

URxvt.letterSpace: 1

! === rofi ===

rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   false
rofi.terminal:                       urxvt
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        100
rofi.width:                          50
rofi.lines:                          8
rofi.columns:                        1
rofi.font:                           DejaVuSansMono Nerd Font 13
rofi.fg:                             #5294E2
rofi.bg:                             {background}
rofi.fg-active:                      #34405a
rofi.fg-urgent:                      #34405a
rofi.hlfg-active:                    #5e73a0
rofi.hlfg-urgent:                    #5e73a0
rofi.bg-active:                      {color5}
rofi.bg-urgent:                      {color1}
rofi.hlbg-active:                    #5d729f
rofi.hlbg-urgent:                    #5d729f
rofi.bgalt:                          #5671a0
rofi.hlfg:                           #34405a
rofi.hlbg:                           #34405a
rofi.bc:                             #789ee1

! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #1e2731,  #FFFFFF,  #1e2731,  #DE935F,  #FFFFFF

!                  'background', 'border'
rofi.color-window: #1e2731,      #DE935F
rofi.bw:                             2
rofi.location:                       0
rofi.padding:                        25
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          true
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                5

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

